.main-layout {
  min-height: 100vh;
}

.main-layout-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: var(--ant-dark-blue);
}

.main-layout-logo {
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-size: 20px;
  color: #1890ff;
}

.user {
  color: #fff;
}

.user:hover {
  color: #fff !important;
}

.main-layout-content {
  padding: 24px;
}

.main-layout-content-wrapper {
  padding: 24px;
  border-radius: 8px;
  min-height: calc(100vh - 112px);
}
