# Server Configuration
HOST=localhost
PORT=8080

# Database Configuration
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=SuperSecretPassword
DB_NAME=VersatilePOS
DB_PORT=5432
DB_SSLMODE=disable

# JWT Configuration
JWT_SECRET=your-secret-key-must-be-at-least-16-characters-long
